body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #c4afaf;
    color: #0a0a0a;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #070606;
    text-decoration: none;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer button:hover {
    background-color: #777;
}

form {
    margin-top: 10px;
}

form input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #777;
}




.col1{
    background-color: cornsilk;
}
.col2{
    background-color: rgb(255, 254, 254);
}
.container{
    display: flex;
    font-family: Arial, sans-serif;

}
img{
    height: 500px;
    width: 500px;
}
.pt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 80%;
}
.para{
    display: flex;
    float: inline-end;
    margin-left: 30px;
}

footer .fotfot p{
    
    margin-left: 80%;
    margin-right: 30px;
    margin-top: -20px;
    margin-bottom: 20px;
    align-content: end;
}